{% extends 'base.html'%} {% block content %}

<div class="container c3">
    <div class="row mb-xl-5 mb-md-3 mb-sm-3 mx-auto">

        <div class="left col-xl-8 col-md-7">The number of wine data contribute by everyone till
            <br> <b>{{date}}</b> is: 
        </div>

        <div class="right col-xl-4 col-md-5">
            <div class="counter" data-count="{{n}}">0</div>
        </div>
    </div>
    
    <div class="row middle mb-3">
        
    <!--    <div class="col btnAbout text-center">-->
    <!--    <a href="#red" class="button btn btn-about btn-success">Red Wine</a>-->
    <!--    </div>-->
        
    <!--    <div class="col btnAbout text-center">-->
    <!--    <a href="#white" class="button btn btn-about btn-success">White Wine</a>-->
    <!--    </div>-->
        
    <!--    <div class="col btnAbout text-center">-->
    <!--    <a href="#rose" class="button btn btn-about btn-success">Rose Wine</a>-->
    <!--    </div>-->
    <!--</div>-->
    
    <!--<div class="row middle mb-3">-->
    <!--    <div class="col btnAbout text-center">-->
    <!--    <a href="#sparkling" class="button btn btn-about btn-success">Sparkling Wine</a>-->
    <!--    </div>-->
        
    <!--    <div class="col btnAbout text-center">-->
    <!--    <a href="#fortified" class="button btn btn-about btn-success">Fortified Wine</a>-->
    <!--    </div>-->
    <a href="#down" class="button btn btn-about btn-success">Read more</a>
    
    </div>
    
    
    
    <div class="row mt-2">
        <img src="{{url_for('static', filename='img/WineType.png')}}" class="wineType"></img>
    </div>
</div>

<br><br>

<p id="down">test!</p>


{% endblock content %}