{% extends 'base.html'%} {% block content %}

<style>
   .c3{
        background-image: url(../static/img/vineyard1.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        padding: 80px;
        border-radius: 2rem;
        margin-bottom: 50px;
        box-shadow: 10px 10px 5px #aaaaaa;
   }
</style>

<p>Help keep our list of products updated by correcting any outdated information you come across<br><br>
As we are a user-contribution based community, some members may accidentally upload wrong product information<br><br>
With your help, The Skincare Diaries can serve as an accurate guide to all our members!</p>

<div class="container c3">
   
   
</div>


{% endblock content %}