{% extends 'base.html'%} {% block content %}
<style>
  .fas{
    font-size:30px;
  }
  .scrollable-menu{
      height: auto;
      max-height: 200px;
      overflow-x: hidden;
  }
</style>

<a href="{{ url_for('search') }}">Clear Search</a>

<div class="container" id="search">
    <h2>Search for your desired Wine</h2>
    <div class="row">
        <!--Filter profiles by different categories below-->
        <!--Dropdown for type -->
        <div class="col-4 dropdown" id="tabs">
            <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">{{type}}</button>
            <div class="dropdown-menu">
                {% for type in winetype %}
                <a href="?type={{type.winetype}}" class="dropdown-item">{{type.winetype}}</a> 
                {% endfor %}
            </div>
        </div>
        
        <!--Dropdown for cost -->
        <div class="col-4 dropdown" id="tabs">
            <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">{{cost}}</button>
            <div class="dropdown-menu">
                {% for cost in price %}
                <a href="?cost={{cost.price}}" class="dropdown-item">{{cost.price}}</a> 
                {% endfor %}
            </div>
        </div>

        <!--Dropdown for Country -->
        <div class="col-4 dropdown" id="tabs">
            <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">{{country}}</button>
            <div class="dropdown-menu scrollable-menu">
                
                <!--<form class="px-4 py-2">-->
                <!--<input type="search" class="form-control" id="searchCountry" placeholder="Country" autofocus="autofocus">-->
                <!--</form>-->
                <!--<div id="menuItems"></div>-->
                <!--<div id="empty" class="dropdown-header">No country found</div>-->
                
                {% for brand in countries %}
                <li>
                    <a href="?country={{brand.country}}" class="dropdown-item" scrollable-menu>{{brand.country}}</a>
                </li>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
    
<!--Display Wine-->
<div class="container">
    <div class="row">
        {% for each_wine in wine %}
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Name: {{each_wine.firstname}} {{each_wine.lastname}}</h5>
                    <h5 class="card-title mb-0">Price: {{each_wine.price}}</h5>
                    <div class="card-text text-black-50">Country: {{each_wine.country}}</div>

                    <!--<div class="card-text text-black-50">Review: {{each_wine.Description}}</div>-->

                    <div id="accordion">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{loop.index}}">
                                    Wine description <i class="fas fa-sort-down"></i>
                                  </button>
                                </h5>
                          </div>

                          <div id="collapse{{loop.index}}" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  {{each_wine.description}}
                              </div>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->




{% endblock content %}