{% extends 'base.html'%} {% block content %}
<style>
    .contribute{
        font-family: 'EB Garamond', serif;
        font-size:20px;
    }
</style>


<div class="container">
    <div class="type text-center">{{wines.winetype}}</div>
    <div class="row">
        <!--Left Side Section-->
        <div class="col left">

            <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
        {{wines.label}}
        </div>
        
        <!--Right Side Section-->
        <div class="col right">
            <div class="contribute">
                <span>
                    Contributor:
                </span>
                
                <span>
                    {{wines.firstname}} {{wines.lastname}} 
                </span>
                
            </div>
            
            <div>
            Cost: {{wines.price}} 
            </div>
            
            <div>
            Country: {{wines.country}} 
            </div>
            
            <div>
            Winery: {{wines.winery}} 
            </div>
            
            <div>
            Decription: {{wines.description}} 
            </div>
            
            
            
            
            
            
            
            
            <!--Button Section-->
            <div class="buttons text-center pb-2">
                <a href={{ url_for('edit_wine',wines_id=wines._id) }} data-toggle="tooltip"  title="Edit wine information">
                    <button id="edit" class="btn btn-primary m-2 p-1"><img src="https://img.icons8.com/dusk/64/000000/edit.png" class="icon8"> Edit
                    </button>
                </a>
                <a data-toggle="modal" data-target=".bd-4-modal-md" title="Delete wine information">
                    <button id="delete" class="btn btn-danger m-2 p-1"><img src="https://img.icons8.com/plasticine/64/000000/delete-forever.png" class="icon8"> Delete
                    </button>
                </a>
            </div>
            <div class="modal fade bd-4-modal-md" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            Are you sure you want to delete
                            <button type="button" id="closex" data-dismiss="modal">Close &times;</button>
                        </div>
                        <div class="modal-body">
                            <a class="btn btn-warning" href="{{url_for('search')}}">NO</a>
                            <a class='btn btn-danger' href="{{ url_for('delete_wine',wines_id=wines._id) }}">YES</a>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        
    </div>
</div>








{% endblock content %}